@model OrderFood_SW.Models.Category

@{
    ViewData["Title"] = "Edit";
}

<!-- box border (just for decor) -->
<div class="box box-primary" style="min-height:74vh;">
    <div class="box-body">
        <!-- edit form category -->
        <div class="row">
            <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
                <div class="panel panel-default" style="margin: 50px 0px">
                    <div class="panel-heading" style="text-align: center">
                        <strong>Edit Category Information</strong>
                    </div>
                    <div class="panel-body">
                        <form asp-action="Edit" class="form-horizontal" role="form">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="CategoryId" class="col-sm-3 control-label"></label>
                                <div class="col-sm-9">
                                    <input asp-for="CategoryId" class="form-control" readonly />
                                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="CategoryName" class="col-sm-3 control-label"></label>
                                <div class="col-sm-9">
                                    <input asp-for="CategoryName" class="form-control" />
                                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="CategoryDescription" class="col-sm-3 control-label"></label>
                                <div class="col-sm-9">
                                    <input asp-for="CategoryDescription" class="form-control" />
                                    <span asp-validation-for="CategoryDescription" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group text-right">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <input type="submit" value="Save Changes" class="btn btn-success" />
                                    <a asp-action="Index" class="btn btn-default">Back to List</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>