<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Food Order Cart</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
    <link href="~/css/customer-style/customer-layout.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <div class="nature-background">
        <div class="floating-leaf leaf-1"></div>
        <div class="floating-leaf leaf-2"></div>
        <div class="floating-leaf leaf-3"></div>
        <div class="floating-leaf leaf-4"></div>
    </div>

    <!-- Header -->
    @{
        await Html.RenderPartialAsync("_CustomerHeader");
    }

    @RenderBody()

    <!-- footer -->
    @{
        await Html.RenderPartialAsync("_CustomerFooter");
    }
</body>
</html>