@{
    Layout = null;
}

<div class="container" style="display: flex; justify-content: center; margin-top: 100px; color:darkred">
    <h1>Access denied! please, return to your previous page</h1>
</div>