@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var fullName = HttpContextAccessor.HttpContext.Session.GetString("FullName");
    var role = HttpContextAccessor.HttpContext.Session.GetString("Role");
}

<div class="text-center">
    <h1 class="display-4">Welcome back, @fullName</h1>
    <p>Let's start your jobs as @role to serve our customer from now. Have a good day!</a>.</p>
</div>
